@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap"); /* 'Noto Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&display=swap"); /* 'Noto Sans Mono', monospace; */
/* General styling */
/* Breakpoints references */
.tm-flex {
  display: flex;
}

.tm-flex-column {
  flex-direction: column;
  flex-wrap: wrap;
}

.tm-flex-row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.tm-flex-middle {
  align-items: center;
}

.tm-flex-center {
  justify-content: center;
}

.tm-flex-between {
  justify-content: space-between;
}

@media screen and (min-width: 360px) {
  .tm-flex-xs {
    display: flex;
  }
  .tm-flex-column-xs {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .tm-flex-row-xs {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tm-flex-middle-xs {
    align-items: center;
  }
  .tm-flex-center-xs {
    justify-content: center;
  }
  .tm-flex-between-xs {
    justify-content: space-between;
  }
}
@media screen and (min-width: 480px) {
  .tm-flex-s {
    display: flex;
  }
  .tm-flex-column-s {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .tm-flex-row-s {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tm-flex-middle-s {
    align-items: center;
  }
  .tm-flex-center-s {
    justify-content: center;
  }
  .tm-flex-between-s {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .tm-flex-m {
    display: flex;
  }
  .tm-flex-column-m {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .tm-flex-row-m {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tm-flex-middle-m {
    align-items: center;
  }
  .tm-flex-center-m {
    justify-content: center;
  }
  .tm-flex-between-m {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .tm-flex-l {
    display: flex;
  }
  .tm-flex-column-l {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .tm-flex-row-l {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tm-flex-middle-l {
    align-items: center;
  }
  .tm-flex-center-l {
    justify-content: center;
  }
  .tm-flex-between-l {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1600px) {
  .tm-flex-xl {
    display: flex;
  }
  .tm-flex-column-xl {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .tm-flex-row-xl {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tm-flex-middle-xl {
    align-items: center;
  }
  .tm-flex-center-xl {
    justify-content: center;
  }
  .tm-flex-between-xl {
    justify-content: space-between;
  }
}
/* Custom grid system to organize all content inside the main tag */
.tm-width-100 {
  width: 100%;
}

.tm-width-50 {
  width: 50%;
}

@media screen and (min-width: 480px) {
  .tm-width-100-s {
    width: 100%;
  }
  .tm-width-50-s {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .tm-width-100-m {
    width: 100%;
  }
  .tm-width-50-m {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .tm-width-100-l {
    width: 100%;
  }
  .tm-width-50-l {
    width: 50%;
  }
}
@media screen and (min-width: 1600px) {
  .tm-width-100-xl {
    width: 100%;
  }
  .tm-width-50-xl {
    width: 50%;
  }
}
/* Generic rules */
.tm-container {
  width: 100%;
  max-width: 1280px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.tm-inline-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.tm-inline-list > li {
  display: inline-block;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-family: "Noto Sans Mono", monospace;
  line-height: 1.2;
  font-size: 2.4rem;
}

.tm-button {
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 2px solid #fff;
  font-family: "Noto Sans Mono", monospace;
  font-weight: 700;
}
.tm-button, .tm-button:hover {
  text-decoration: none;
}
.tm-button:hover {
  color: #323949;
  background-color: #fff;
}

.tm-hidden {
  display: none;
}

.tm-visible {
  display: initial;
}

@media screen and (min-width: 360px) {
  .tm-hidden-xs {
    display: none;
  }
  .tm-visible-xs {
    display: initial;
  }
}
@media screen and (min-width: 480px) {
  .tm-hidden-s {
    display: none;
  }
  .tm-visible-s {
    display: initial;
  }
}
@media screen and (min-width: 768px) {
  .tm-hidden-m {
    display: none;
  }
  .tm-visible-m {
    display: initial;
  }
}
@media screen and (min-width: 1200px) {
  .tm-hidden-l {
    display: none;
  }
  .tm-visible-l {
    display: initial;
  }
}
@media screen and (min-width: 1600px) {
  .tm-hidden-xl {
    display: none;
  }
  .tm-visible-xl {
    display: initial;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #323949;
  color: #fff;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  color: #fff;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
}
/* Header styles */
header {
  padding: 1rem 0;
}

.tm-main-menu > ul > li > a {
  display: inline-block;
  padding: 0 15px;
}
.tm-main-menu > ul > li > a, .tm-main-menu > ul > li > a:hover {
  text-decoration: none;
}

.tm-menu-mobile-container img {
  max-width: 40px;
}

/* Homepage style */
.tm-page-section#home {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tm-buttons-container > a + a {
  margin-left: 2rem;
}

/* About me style */
.tm-page-section#about-me .tm-image-container {
  position: relative;
  margin-top: 1rem;
}
.tm-page-section#about-me .tm-image-container:before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  left: -15px;
  right: 15px;
  bottom: 22px;
  background-color: #4C5265;
}
@media screen and (min-width: 768px) {
  .tm-page-section#about-me .tm-image-container {
    margin-left: 3rem;
  }
}
.tm-page-section#about-me img[src="./../img/profile.jpg"] {
  max-width: 200px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .tm-page-section#about-me img[src="./../img/profile.jpg"] {
    max-width: 300px;
  }
}

/* Footer styles */
footer {
  padding: 1rem 0;
}

.tm-heart {
  color: #f00;
}

/*# sourceMappingURL=style.css.map */
