@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap'); /* 'Noto Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&display=swap'); /* 'Noto Sans Mono', monospace; */
@import url("variables.css");

html {
    font-family: var(--noto-sans);
    font-size: 20px;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--white-color);
}

/* Custom grid system to organize all content inside the main tag */
.tm-width-100 {
    width: 100%;
}

.tm-width-50 {
    width: 50%;
}