:root {
    /* General styling */
    --bg-color: #323949;
    --bg-lighter-color: #4C5265;
    --white-color: #fff;
    --noto-sans: 'Noto Sans', sans-serif;
    --noto-sans-mono: 'Noto Sans Mono', monospace;

    /* Breakpoints references */
    --bk-xsmall: 360px;
    --bk-small: 480px;
    --bk-medium: 768px;
    --bk-large: 1200px;
    --bk-xlarge: 1600px;
}