.tm-flex {
    display: flex;
}

.tm-flex-column {
    flex-direction: column;
    flex-wrap: nowrap;
}

.tm-flex-middle {
    align-items: center;
}

.tm-flex-center {
    justify-content: center;
}

.tm-flex-between {
    justify-content: space-between;
}