@import "./variables.scss";
@import "./flex-system.scss";
@import "./columns.scss";
@import "./generics.scss";
@import "./button.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: $noto-sans;
    font-size: 16px;
    line-height: 1.6;
    background-color: $bg-color;
    color: $white-color;   
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100vh;
}

a {
    color: $white-color;
}

@media screen and (min-width: $bk-medium) {
    html {
        font-size: 20px;
    }
}

/* Header styles */
header {
    padding: 1rem 0;
}

.tm-main-menu {
    & > ul > li {
        & > a {
            display: inline-block;
            padding: 0 15px;
            
            &, &:hover {
                text-decoration: none;
            }

        }
    }
}

/* Homepage style */
.tm-page-section#home {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tm-buttons-container {
    & > a + a {
        margin-left: 2rem;
    }
}

/* Footer styles */
footer {
    padding: 1rem 0;
}

.tm-heart {
    color: #f00;
}