@import "./variables.scss";
@import "./flex-system.scss";
@import "./columns.scss";
@import "./generics.scss";
@import "./button.scss";
@import "./visibility.scss";
@import "./text.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: $noto-sans;
    font-size: 16px;
    line-height: 1.6;
    background-color: $bg-color;
    color: $white-color;   
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100vh;
}

a {
    color: $white-color;
}

@media screen and (min-width: $bk-medium) {
    html {
        font-size: 20px;
    }
}

/* Header styles */
header {
    padding: 1rem 0;
}

.tm-main-menu {
    & > ul > li {
        & > a {
            display: inline-block;
            padding: 0 15px;
            
            &, &:hover {
                text-decoration: none;
            }

        }
    }
}

.tm-menu-mobile-container {
    img {
        max-width: 40px;
        cursor: pointer;
    }
}

.tm-menu-mobile-canvas-container {
    position: absolute;
    width: 0vw;
    left: 0;
    transform: translateX(-70vw);
    top: 0;
    bottom: 0;
    background: darken($bg-color, 10%);
    padding: 2rem;
    transition-property: width, transform;
    transition-duration: .2s;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;

        & > li + li {
            margin-top: 1rem;
        }

        & > li > a {
            text-decoration: none;
            font-size: 1.5rem;
            font-family: $noto-sans-mono;
            font-weight: 700;
            display: inline-block;
            padding: .5rem;
        }

    }

    &.tm-menu-mobile-canvas-container-shown {
        transform: translateX(0vw);
        width: 70vw;
    }

    @media screen and (min-width: $bk-medium) {
        &, &.tm-menu-mobile-canvas-container-shown {
            transform: translateX(-70vw);
            width: 0;
        }
    }

}

/* Homepage style */
.tm-page-section#home {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tm-buttons-container {
    & > a + a {
        margin-top: 1rem;

        @media screen and (min-width: $bk-medium) {
            margin-top: 0;
            margin-left: 2rem;
        }

    }
}

/* About me style */
.tm-page-section#about-me {

    .tm-image-container {
        position: relative;
        margin-top: 1rem;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -15px;
            left: -15px;
            right: calc(0px + 15px);
            bottom: calc(0px + 22px);
            background-color: $bg-lighter-color;
        }

        @media screen and (min-width: $bk-medium) {
            margin-left: 3rem;
        }

    }

    img[src="./../img/profile.jpg"] {
        max-width: 200px;
        position: relative;

        @media screen and (min-width: $bk-medium) {
            max-width: 300px;
        }

        @media screen and (min-width: $bk-medium) {
            max-width: 400px;
        }

    }

}

/* Career page */
.tm-page-section#career {
    .tm-career {
        margin-top: 2rem;

        @media screen and (min-width: $bk-medium) {
            margin-top: 0;
            margin-left: auto;
            padding-left: 4rem;
        }

        @media screen and (min-width: $bk-large) {
            width: 600px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 1rem;
            background-color: $bg-lighter-color;
            
            @media screen and (min-width: $bk-medium) {
                max-height: 600px;
                overflow-y: auto;
            }

            & > li:not(:last-child) {
                padding-bottom: 1.5rem;
            }

            & > li + li {
                border-top: 2px solid $white-color;
                padding-top: 1.5rem;
            }

        }

        h2 {
            margin: 0;
        }

        .tm-career-date {
            margin: 10px 0;
            margin-top: 0;
            font-size: 0.6rem;

            & + p {
                font-size: 0.8rem;
            }

        }

    }
}

/* Contact page */
.tm-page-section#contact {

    & > .tm-flex > div {
        @media screen and (min-width: $bk-medium) {
            width: 50%;
        }
    }

    .tm-social-media {
        margin-top: 2rem;
        padding: 2rem;
        background-color: $bg-lighter-color;

        @media screen and (min-width: $bk-medium) {
            margin-top: 0;
            margin-left: 2rem;
        }

        @media screen and (min-width: $bk-xlarge) {
            width: 600px;
        }

        ul {
            text-align: center;
            padding: 0;
            list-style: none;

            & > li {
                margin-top: 1rem;

                @media screen and (min-width: $bk-medium) {
                    display: inline-block;
                }

                & > a {
                    display: block;
                }

            }

            & > li + li {
                margin-top: 1rem;

                @media screen and (min-width: $bk-medium) {
                    margin-top: 0;
                    margin-left: 1rem;
                }

            }

        }

        svg {
            width: 40px;
        }

    }

}

/* Footer styles */
footer {
    padding: 1rem 0;
}

.tm-heart {
    color: #f00;
}