@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap'); /* 'Noto Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400&display=swap'); /* 'Noto Sans Mono', monospace; */
@import url("variables.scss");

html {
    font-family: var(--noto-sans);
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--white-color);   
}

@media screen and (min-width: 768px) {
    html {
        font-size: 20px;
    }
}

/* Custom grid system to organize all content inside the main tag */
.tm-width-100 {
    width: 100%;
}

.tm-width-50 {
    width: 50%;
}

@media screen and (min-width: var(--bk-small)) {
    .tm-width-100-s {
        width: 100%;
    }
    .tm-width-50-s {
        width: 50%;
    }
}

@media screen and (min-width: var(--bk-medium)) {
    .tm-width-100-m {
        width: 100%;
    }
    .tm-width-50-m {
        width: 50%;
    }
}

@media screen and (min-width: var(--bk-large)) {
    .tm-width-100-l {
        width: 100%;
    }
    .tm-width-50-l {
        width: 50%;
    }
}

@media screen and (min-width: var(--bk-xlarge)) {
    .tm-width-100-xl {
        width: 100%;
    }
    .tm-width-50-xl {
        width: 50%;
    }
}